<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="../public/CSS/login_signup.css">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <title>Your Profile</title>
</head>
<body>
<br>
  <div class="imgcontainer">
    <img src="../public/cat.jpg" alt="Icon" class="Icon">
  </div>
  <h1>Your Profile</h1>

<form onsubmit="addJSON();" action="./home.ejs">

  <div class="container">
    <label><b>First Name</b></label><br>
    <input type="text" id="fname" required>
    <br><br>
    <label><b>Last Name</b></label><br>
    <input type="text" id="lname" required>
    <br><br>
    <label><b>Email</b></label><br>
    <input type="text" id="email" required>
    <br><br>
    <label><b>Major</b></label><br>
    <input type="text" id="major" required>
    <br><br>
    <label><b>Hobbies</b></label><br>
    <input type="text" id="hobby" required>
    <br><br>
    <label><b>Gender</b></label><br>
    <input type="radio" id="gender" value="male"> Male<br>
    <input type="radio" id="gender" value="female"> Female<br>
    <input type="radio" id="gender" value="other"> Prefer not to say
    <br><br>

  </div>
    <input type="submit" value="Save Changes">

</form>
<br>
</body>
</html>
