<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="./css/login_signup.css">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <title>Your Profile</title>
</head>
<body>
<br>
  <div class="imgcontainer">
    <img src="./cat.jpg" alt="Icon" class="Icon">
  </div>
  <h1>Your Profile</h1>
<form action="./map.html" method="post"><!--make action into some jquery/jscript file? and have button onclick go to map? -->

  <div class="container">
    <label><b>First Name</b></label><br>
    <input type="text" name="fname" required>
    <br><br>
    <label><b>Last Name</b></label><br>
    <input type="text" name="lname" required>
    <br><br>
    <label><b>Email</b></label><br>
    <input type="text" name="email" required>
    <br><br>
    <label><b>Major</b></label><br>
    <input type="text" name="major" required>
    <br><br>
    <label><b>Gender</b></label><br>
    <input type="radio" name="gender" value="male"> Male<br>
    <input type="radio" name="gender" value="female"> Female<br>
    <input type="radio" name="gender" value="other"> Prefer not to say
    <br><br>

  </div>
    <button type="submit">Save Changes</button>

</form>
<br>
</body>
</html>
