<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="./css/login_signup.css">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <title>Sign-Up</title>
</head>
<body>
  <br>
  <div class="imgcontainer">
    <img src="./cat.jpg" alt="Icon" class="Icon">
  </div>
  <h1>MapChat</h1>

  <form action="/signup" method="post">
    <div class="container">
      <label><b>Email</b></label><br>
      <input type="text" name="email" id="email" required>
      <br><br>
      <label><b>Username</b></label><br>
      <input type="text" name="user" required>
      <br><br>
      <label><b>Password</b></label><br>
      <input type="password" name="pass" required>
      <br><br>
    </div>
    <button type="submit">SIGN-UP</button>
  </form>
  <br>

  <h5>Have an account? <a href="/login" style="color:blue;"> Login!</a></h5>

</body>
</html>
