<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="sweetalert-master/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/sweetalert-master/dist/sweetalert.css">

    <link rel="stylesheet" type="text/css" href="./css/login_signup.css">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <title>Sign-Up</title>
</head>
<body>
  <br>
  <div class="imgcontainer">
    <img src="./cat.jpg" alt="Icon" class="Icon">
  </div>
  <h1>MapChat</h1>

  <form action="javascript:createAccount()">
    <div class="container">
      <label><b>Username</b></label><br>
      <input type="text" name="user" id="username" required>
      <br><br>
      <label><b>Email</b></label><br>
      <input type="text" name="email" id="email" required>
      <br><br>
      <label><b>Password</b></label><br>
      <input type="password" name="pass" id="password" required>
      <br><br>
    </div>
    <button type="submit">SIGN-UP</button>
  </form>
  <br>

  <h5>Have an account? <a href="/login" style="color:blue;"> Login!</a></h5>
  
  <script src="https://www.gstatic.com/firebasejs/4.0.0/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyCBhEOwCcoCumMv4rem4VvcymsJajE3kgI",
      authDomain: "peeradvisor-165319.firebaseapp.com",
      databaseURL: "https://peeradvisor-165319.firebaseio.com",
      projectId: "peeradvisor-165319",
      storageBucket: "peeradvisor-165319.appspot.com",
      messagingSenderId: "1073760765111"
    };
    firebase.initializeApp(config);

    // Get a reference to the database service
    var database = firebase.database();
	const dbRefUsers = database.ref().child("users");

  function createAccount() {
      const user = document.getElementById("email").value;
      const pw = document.getElementById("password").value;
      firebase.auth().createUserWithEmailAndPassword(user, pw).catch(function(error) {
          var errorCode = error.code;
          var errorMessage = error.message;
          if(errorCode == 'auth/invalid-email') {
            alert("Error: Oops, the email address you entered does not look valid.");
          }
          else if (errorCode == 'auth/weak-password') {
              alert("Error: Password length must be 6 or more characters long.")
          }
          else {
              alert(errorMessage);
          }
          console.log(error);
      });
  }

  firebase.auth().onAuthStateChanged(firebaseUser => {
      if (firebaseUser) {
	      setDBinfo(firebaseUser.uid);
		  sessionStorage.setItem("user", firebase.auth().currentUser.uid);
          //alert("Account Created! Welcome to MapChat!!");
		  swal({
		    title: "Account Created!",
			text: "Welcome to MapChat!!",
			type:"success"
		  },
		  function(){
            window.location.href = "/";
            console.log(firebaseUser);
		  });
      }
	  else if(sessionStorage.user) {
	    window.location.href = "/";
	  }
      else {
          console.log("not logged in");
      }
  });

  	function setDBinfo(userid) {
	  //Get next userID
	  database.ref('users/' + userid).set({
	    email: email.value,
	    username: username.value,
		about: ""
	  });
	}
  </script>
</body>
</html>
