@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
    font-family: 'Nunito', sans-serif;
    background-color: aquamarine;
}

form {
    background-color: white;
    width: 40%;
    margin: 0 auto;
    padding: 30px;
    border-radius: 20px;
}
textarea, input, button { 
    outline: none; 
}

input[type=text], input[type=password] {
    width: 70%;
    padding:3px;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 20px;
}
input:focus{
    border-color: aquamarine;
}

button[type=submit] {
    background-color: tomato;
    color: white;
    padding: 14px;
   /* margin: 8px 0;*/
    border: none;
    cursor: pointer;
    margin-left: 25%;
    width: 50%;
    border-radius: 10px;
    font-size: 16px;
}

button[type=submit]:hover {
    opacity: 0.8;
}

.imgcontainer {
    text-align: center;
}

img.Icon {
    width: 100px;
    border-radius: 50%;
}

.container {
    padding: 16px;
    margin-left: calc(20% - 8px);
}
h1, h5, label{
    text-align: center;
    color: tomato;
}