@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
    padding: 0;
    margin: 0;
    width: 100%;
    min-width: 320px;
    font-family: sans-serif;
    background-color: rgba(250, 250, 255, 1);
}

main {
    padding-top: 46px;
    padding-bottom: 51px;
}

main tab-section {
    display: none;
}

main tab-section.active {
    display: block;
}


#map {
height: 100%;
}
html, body{
 height: 100%;
 margin: 0;
 padding: 0;
 font-family: 'Nunito', sans-serif;
}
.description{
	 color: red;
}
.dHeader{
		color:blue;
}
ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 background-color: aquamarine;
 height: 6%;
}

li a {
 display: block;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 color: salmon;
}

#map-loading {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -60px;
    margin-top: -100px;
    z-index: 129;
}

#map-outer {
    position: fixed;
    width: 100%;
    height: calc(100% - 85px);
    top: 43px;
    left: 0;
 }

#map {
    height: 100%;
}


button{
	    font-family: 'Nunito', sans-serif;

}

#found-form {
    padding: 15px;
}

#found-form label {
    display: block;
    margin: 15px 0;
}

#webmenu{
width:200px;
}

#found-form input {
    padding: 10px;
    border-radius: 3px;
    border: 1px solid rgba(230, 230, 230, 1);
    width: calc(100% - 22px);
}

#found-form textarea {
    resize: none;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid rgba(230, 230, 230, 1);
    width: calc(100% - 22px);
    height: 80px;
}

#found-form button {
    margin-top: 15px;
    padding: 0;
    height: 35px;
    line-height: 40px;
    width: 100%;
    border-radius: 3px;
    border: none;
    text-align: center;
    background-color: aquamarine;
    color: rgba(255, 255, 255, 1);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    line-height: 40px;
    width: 100%;
    height: 40px;
    box-shadow: 0 0 10px rgba(150, 150, 150, 0.2);
    background-color: salmon ;
}

footer tab {
    display: block;
    width: 50%;
    height: 100%;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
}

footer tab:hover {
    background-color: aquamarine;
}

footer tab:active {
    background-color: white;
}

footer tab.active {
    color: white;
    line-height: 45px;
    border-top: 2px solid white);
    background-color: aquamarine

}

#navbar {
	
	
	
    line-height: 8px;
    
}

