@import url('https://fonts.googleapis.com/css?family=Nunito');

#commentList{
    background-color: white;
   
    border-radius: 10px;
}
 #commentBox{
    background-color: transparent !important;
    position: absolute;
    top:80%;
    left:29%;

}
#inText{
        background-color: rgba(5,5,5,.1) !important;

    border-color:white;
    color:black;
}
#inText:focus{
    border-color:salmon;
    color:black;
}
#commentSubmission{
    background-color:salmon;
    font-family: sans-serif;
    font-size: 15px;
    padding: 10px;
    width: 110px;
    color:white;
    border-radius: 5px;
    border: none;
}

#commentSubmission:hover{
    background-color: white;
    color:salmon;
}


/*profile button*/
.profileBut{
    background:none;
    border: none;
}
.profileBut:hover{
    color:blue;
    cursor: pointer;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    min-width: 320px;
    font-family: sans-serif;
    background-color: aquamarine;
}
#mc{
    font-size: 30px;
}

/*main {
    padding-top: 46px;
    padding-bottom: 51px;
}*/

main tab-section {
    display: none;
}

main tab-section.active {
    display: block;
}


#map {
    margin-top: 10px;
    height: calc(100% - 10px);
}
html, body{
 height: 100%;
 margin: 0;
 padding: 0;
 font-family: 'Nunito', sans-serif;
}
.description{
	 color: red;
}
.dHeader{
		color:blue;
}
ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 background-color: aquamarine;
 height: 6%;
}

li a {
 display: block;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 color: salmon;
}

#map-loading {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -60px;
    margin-top: -100px;
    z-index: 129;
}

#map-outer {
    position: fixed;
    width: 100%;
    height: calc(100% - 85px);
    top: 43px;
    left: 0;
 }


button{
	    font-family: 'Nunito', sans-serif;

}

/*#found-form {
    padding: 15px;
}*/


label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label > input:hover + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid aquamarine;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid salmon;
}




#found-form label {

  /*  display: block;*/
 /*   margin: 15px 0;*/
}
input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}
#webmenu{
    width:300px;
    font-family: 'Nunito', sans-serif;
    
}

label{
    color: salmon;
    font-size: 25px;
}
option{
    background-color: aquamarine;
}

#found-description:focus{
    border-color: aquamarine;
}
textarea#found-description{
    font-size: 20px;
}

#found-form{
    margin-top:3%;
    width:80%;
    margin-left: calc(10% - 30px);

    background-color: white;
    border-radius:20px;
    padding:30px;
    height:100%;
}
/*#found-form input {
    border-radius: 3px;
    border: 1px solid rgba(230, 230, 230, 1);
  width: 90%;
}
*/



#found-form textarea {
/*    padding:10px;
*/    font-family: 'Nunito', sans-serif;
    resize: none;
    border-radius: 3px;
    border: 2px solid rgba(230, 230, 230, 1);
    width: 100%;
    height: 80px;
}

#found-form button {
    margin-top: 15px;
    padding: 0;
    height: 50px;
/*    line-height: 40px;
*/    width: 90%;
    border-radius: 8px;
    border: none;
    text-align: center;
    background-color: salmon;
    color: rgba(255, 255, 255, 1);
    width:50%;
    margin-left: 25%;
    font-size: 20px;
}

#found-form button:hover {
    background-color:aquamarine;
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    line-height: 40px;
    width: 100%;
    height: 40px;
    box-shadow: 0 0 10px rgba(150, 150, 150, 0.2);
    background-color: aquamarine ;
}

footer tab {
    display: block;
    width: 50%;
    height: 100%;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
}

footer tab:hover {
    background-color: salmon;
}

footer tab:active {
    background-color: white;
}

footer tab.active {
    color: white;
    line-height: 45px;
   /* border-top: 2px solid white;*/
    background-color: salmon;

}
.logout{
    color:white;
    margin-top: -35px;
    float: right;
    padding: 5px;
    border-radius: 3px;
    background-color: salmon;
}
.logout:hover{
    color:salmon;
    background-color: white;
}
#navbar {
	padding: 8px;
    line-height: 12px;
    
}

.profileContainer{
    margin-left: 22%;
}

